@page "{id}"
@model BirdMeal.Pages.Staffs.Meals.DetailMealModel
@{
    Layout = "~/Pages/Shared/StaffLayout.cshtml";
}

<h1 class="mb-3">Detail Combo @Model.mealViewModel.MealId</h1>
@if (!string.IsNullOrEmpty(TempData["DeleteSuccessMessage"] as string))
{
    <div class="alert alert-success">@TempData["DeleteSuccessMessage"]</div>
}

@if (!string.IsNullOrEmpty(TempData["DeleteErrorMessage"] as string))
{
    <div class="alert alert-danger">@TempData["DeleteErrorMessage"]</div>
}
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListMealProductsDetail)
        {
            var totalPrice = @item.Product.Price * @item.Quantity;
            <tr>
                <td>@item.Product.ProductName</td>
                <td>@item.Quantity</td>
                <td>
                    @totalPrice $
                </td>
                <td>
                    <form method="post">
                        <input type="hidden" name="productId" value="@item.Product.ProductId" />
                        <input type="hidden" name="mealId" value="@Model.mealViewModel.MealId" />
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> 
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>


</table>
<button class="btn btn-primary" id="addProductBtnAsk" type="button">
    <i class="fas fa-plus-circle"></i> Add Product
</button>
<form method="post" class="mb-3" asp-page-handler="AddProduct">
    <input type="hidden" name="mealId" value="@Model.mealViewModel.MealId" />
    <div id="addProductSection" style="display: none;">
        <div class="mb-3">
            <label for="productName">Product Name</label>
            <select class="form-control" id="productName" asp-for="AddMealProduct.ProductId">
                @foreach (var product in Model.ListProducts)
                {
                    <option value="@product.ProductId">@product.ProductName</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity" asp-for="AddMealProduct.Quantity" min="1">
        </div>
    </div>
    <button class="btn btn-primary" id="addProductBtn" type="submit">
        <i class="fas fa-plus-circle"></i> Add Product
    </button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#addProductBtn').hide();
            // Show the "Add Product" section when the button is clicked
            $('#addProductBtnAsk').click(function () {
                $('#addProductSection').show();
                $('#addProductBtnAsk').hide();
                $('#addProductBtn').show();
            });
        });
    </script>
}



