@page
@model BirdMeal.Pages.Staffs.Products.ListProductModel
@{
    Layout = "~/Pages/Shared/StaffLayout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Weight</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.ListProducts != null && Model.ListProducts.Any())
        {
            @foreach(var item in Model.ListProducts)
            {
                <tr>
                    <td>
                        <img src="~/images/@item.Image" class="img-responsive" style="width: 50px; height:60px" />
                    </td>
                    <td >@item.ProductId</td>
                    <td>@item.ProductName</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@item.Description</td>
                    @if (item.Status == false)
                    {
                        <td>
                            Inactive
                        </td>
                    }
                    else
                    {
                        <td>
                            Active
                        </td>
                    }

                            
                    <td>@item.Weight</td>
                    
                </tr>
            }
        }
        
       
    </tbody>
</table>