@page
@model BirdMeal.Pages.Staffs.Products.ListProductModel
@{
    ViewData["Title"] = "Staff - List Of Products";
    Layout = "~/Pages/Shared/StaffLayout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Weight</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.ListProducts != null && Model.ListProducts.Any())
        {
            @foreach(var item in Model.ListProducts)
            {
                <tr>
                    <td>
                        <img src="~/images/@item.Image" class="img-responsive" style="width: 50px; height:60px" />
                    </td>
                    <td >@item.ProductId</td>
                    <td>@item.ProductName</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@item.Description</td>

                    <td>
                        @if (item.Status.HasValue)
                        {
                            if (item.Status.Value)
                            {
                                <text>Active</text>
                            }
                            else
                            {
                                <text>Inactive</text>
                            }
                        }
                        else
                        {
                            <text>N/A</text>
                        }
                    </td>

                            
                    <td>@item.Weight</td>
                    <td>
                        <a class="btn btn-warning" href="~/Staffs/Products/EditProduct/@item.ProductId">Edit</a>
                        <a class="btn btn-danger" href="~/Staffs/Products/DeleteProduct/@item.ProductId" >Delete</a>
                    </td>
                </tr>

            }
        }
        
       
    </tbody>
</table>