@page
@model BirdMeal.Pages.Staffs.Orders.ListOrderModel
@{
    ViewData["Title"] = "Staff - List Of Orders";
    Layout = "~/Pages/Shared/StaffLayout.cshtml";
}

<h1 class="mb-3">List of Orders</h1>
@if (Model.Orders != null && Model.Orders.Any())
{
    <table class="table ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer</th>
                <th>Order Date</th>
                <th>Total</th>
                @*<th>Status</th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Orders)
            {
                <tr>
                    <td>@item.OrderId</td>
                    <td>@item.User.FullName</td>
                    <td>@item.OrderDate</td>
                    <td>@item.TotalPrice $</td>
                    @*<td>@item.Status</td>*@
                    <td><a class="btn btn-outline-dark" href="DetailOrder/@item.OrderId">Detail</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Empty Order</p>
}